{% extends "single.twig" %}

{% block headline %}
    <h1 class="debug"><img alt="GRC Test" class="debug" src="https://www.seatoskywebsolutions.ca/wordpress/wp-content/uploads/2019/04/SSWS_logo_blue.png"/></h1>
{% endblock %}
