{% extends "base.twig" %}
<pre>GRC this is a Timber part3</pre>
{% block content %}
    <form class="password-form" action="{{site.site_url}}/wp-login.php?action=postpass" method="post">
        <label for="pwbox-{{post.ID}}">Password:</label>
        <input class="password-box" id="pwbox-{{post.ID}}" maxlength="20" name="post_password" placeholder="Password" size="20" type="password"/>
        <input class="password-btn" name="Submit" type="submit" value="Submit"/>
    </form>
{% endblock %}
